body {
    font-family: Monospace;
    font-weight: bold;
    background-color: #ccccff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hud {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.view3d {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}



.scene {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.scene-opening {
    padding: 20px;
    margin: 0 auto;
}

.scene-opening__inner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}


.scene-opening__box1 {
    display: table;
    width: 100%;
    height: 100%;
}

.scene-opening__ttl {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.scene-opening__ttl__txt {
    font-family: "Racing Sans One",sans-serif;
    font-weight: bold;
    font-size: 417%;
    letter-spacing: 0;
    color: #fc0;
    text-shadow: 2px 2px 0px #ff6600, 4px 4px 2px black;
}

.scene-opening__box2 {
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, 0.2);
}

.scene-opening__ttl2 {
    font-family: "Racing Sans One",sans-serif;
    font-weight: bold;
    font-size: 234%;
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto;
    text-align: center;
    color: #599ddd;
    text-shadow: 1px 1px 0px #176bf3, 2px 2px 2px black;
}

.scene-opening__box2-left {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
    text-align: center;
}

.scene-opening__ttl3 {
    font-family: "Racing Sans One",sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #67be4f;
    text-shadow: 1px 1px 0px #007f26, 2px 2px 2px black;
}
